<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
          integrity="sha256-HxaKz5E/eBbvhGMNwhWRPrAR9i/lG1JeT4mD6hCQ7s4=" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Type of weather</title>
</head>
<body class="home">
    <div class="week">
        <a class="week-button" href="/weather_week">
            <div class="text">
                Weather for a week
            </div>
        </a>
    </div>
    <div class="day">
        <a class="day-button" href="/weather_day">
            <div class="text">
                Weather for specific day
            </div>
        </a>
    </div>
</body>
</html>